<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    html{
        font-family: "Cairo", sans-serif;
    }
    body{
        padding: 20px;
    }
    .box{
        width: fit-content;
        padding: 10px 15px;
        color: rgb(56, 56, 255);
        font-weight: bold;
        border: 1px solid rgb(56, 56, 255);
        border-radius: 4px;
        font-size: 18px;
    }
</style>
<body>
    <h1>Reset password</h1>
    <hr>
    <br>
    <h2>Hi {{full_name}},</h2>
    <p>we received a request to reset your account password 'Enter the following password reset code:</p>
    <br>
    <p class="box">{{otp}}</p>
    <p>please don't share this code with anyone to keep your account safe.</p>

</body>
</html>